<table mat-table [dataSource]="resultados" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="productoId">
      <th mat-header-cell *matHeaderCellDef> PRODUCTO ID </th>
      <td mat-cell *matCellDef="let element"> {{element.productoId}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> NOMBRE DEL PRODUCTO </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> DESCRIPCI&Oacute;N </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>
    
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> PRECIO </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fechaCaptura">
        <th mat-header-cell *matHeaderCellDef> FECHA DE CAPTURA </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaCaptura}} </td>
      </ng-container>
     
      <ng-container matColumnDef="categoriaId">
        <th mat-header-cell *matHeaderCellDef> CATEGORIA ID</th>
        <td mat-cell *matCellDef="let element"> {{element.categoriaId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> CATEGORIA</th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> ACCI&Oacute;N</th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="primary">Editar<mat-icon>edit</mat-icon></button> 
          <button mat-raised-button color="warn">Eliminar<mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  